@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rochester&display=swap');

.navbar-brand {
    font-family: 'Rochester', sans-serif;
    color: #000;
}

.navbar {
    border-bottom: 1px solid #000;
    margin-bottom: 13px;
}

#categoryBar {
    font-family: 'Roboto', sans-serif;
}

#cateItem {
    color: #fff;
    font-weight: 400;
}